body{background-image:url(https://th.bing.com/th/id/OIP.pJkEtHcsrpu_8OiHk_X1PwHaHa?w=202&h=202&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat:no-repeat ;
    overflow-x: hidden;
   background-size: 2500PX;
  

  opacity: 40px;
  }
header{width: 1550px;
  height: 80px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(164, 77, 10);
    display: flex;
   justify-content: space-around;
   position:fixed;
   z-index: 1000;
   top: 5px;
   color: aliceblue;
}
.h1{position: absolute;
    left: 20px;
    top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 40px;
    font-size: 40px;
    color:rgb(212, 185, 142);
    padding-left:10px ;
    animation: mat 1s infinite alternate;
}
@keyframes mat{
  from{top: 7px;}
  to{top: 40px;}
}

.link{
       position: absolute;
       right: 60px;
     font-size: 20px;
    top: 40px;
}
.link a{padding: 40px;
       text-decoration-line: none;
       color: black;
    
}
.link :hover{
    color: blue;
    text-decoration: underline;
    background-color: azure;
    font-size: 30px;
    transform: scale(2);
    transition: 2s;
}

          /* header ka kaam khatam */

   /* IAMGE START........ */
.image img{width: 600px;
    height: 600px;
    border-radius: 50%;
  
 position: absolute;
 right: 50px;
top: 100px;
border: 5px solid firebrick;
box-shadow: 20px 40px 30px 10px peru;

}
.image img:hover{
  animation: mg 200ms infinite ;
}

@keyframes mg{
form{border-top: 5px;}
to{border-top: 5px;}
to{border-bottom: 6px;}

}
 
/* 
IMge ka kaam khatam.......... */

.jaan{
    display: inline-block;
    
   
    
}
.hi{
      position: absolute;
      left: 200px;
      top: 200px;
      font-size: 40px;
      font-weight: 60px;
      color: chocolate;
}
.name{
    position: absolute;
    left: 200px;
    top: 250px;
    font-size: 90px;
    font-weight: 60px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color:red
}
.fname{
    position: absolute;
    left: 280px;
    top: 330px;
    font-size: 60px;
    font-weight: 60px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}
.info{
    position: absolute;
    left: 200px;
    top: 400px;
    font-size: 60px;
    font-weight: 60px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}
.para{width: 500px;
    height: 300px;
    position: absolute;
    top: 450px;
    left: 200px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}
.icon{position: absolute;
      top: 550px;
      left: 200px;
      padding: 10px;
      font-size: 30px;
}
.icon a{
      margin: 20px;
      color:white;
}
.icon a :hover{
         color: brown;
         font-size: 40px;
         transition: 2s;
}
   
   /* information kakaam khatam.......... */


   .h2{
     color: rgb(200, 135, 13);
     font-size: 90px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 60px;
     position: absolute;
     top: 800px;
   left: 640px;
   }
   .line{
          width: 40%;
          height: 6px;
          background-color: brown;
          position: absolute;
          top: 900px;
          left: 480px;
   }

     /* horizental line...... */

     /* SKILLS KA KAAM START........ */

     .course{height: 830px;
            width: 420px;
            position: absolute;
            top: 1000px;
           left: 50px;
           color: rgb(210, 208, 206);
           font-weight: 50px;
           font-size: 25px;
           border-radius: 15%;
           border: groove 7px black;
           padding-left:0px;
           background-color: rgb(183, 154, 68);
           text-wrap: wrap;
           
     }
     li{
        list-style: none;
        padding: 8px;

     }
     .hd3{font-size: 60px;
         font-weight: 60px;
         color: firebrick;
         margin: 20px;
         

     }
     /* PERCENTAGE KA KAAAM START...... */

.html{position: absolute;
      left: 300px;
      font-size: 15px;
     color: red;
     margin-top: 8px;

}
  /* my work ka kaaam start........ */

  .hd4{position: absolute;
    top: 30px;
    left: 10px;
    font-size: 50px;
    color: rgb(192, 64, 17);
    font-weight: 90px;
    font-style: italic;

  }

  .mywork{position: relative;
    width: 500px;
         height: 800px;
         border: solid black 4px;
         position: absolute;
         top: 1000px;
         left: 530px;
         background-color:rgb(183, 154, 68);    
         border-radius: 9%;
         padding-top: 120px;
         padding-left: 60px;
         box-sizing: border-box;
         font-size: 25px;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         text-wrap: wrap;
  }


  .mywork a {
       text-decoration-line: none;
       color: brown;
  }
  .mywork li:hover{
    background-color: rgb(30, 7, 103);
    font-size: 45px ;
    background-size: auto;
    transition: 2s;
    color: rgb(51, 97, 13);
  }
  

     /* my work ka kaam khatam........... */


     /* cv ka kaaam start........ */


     .cv{border: 4px rgb(24, 19, 9) solid;
        position: absolute;
        top: 1000px;
        right: 40px;
        width: 400px;
        height: 800px;
        text-wrap: wrap;
        
     }
     img{width: 400px;
        height: 800px;

     }

     /* cv  ka kaam khatam............ */

     /* skill ka kaam khatm....... */


     .hd5{
        position: absolute;
        top: 1900px;
        left: 630px;
        font-size: 80px;
        color: rgb(192, 64, 17);
        font-weight: 200;
        font-style: italic;
     }
     .line2{
        width: 40%;
        height: 6px;
        background-color: brown;
        position: absolute;
        top: 2000px;
        left: 480px;
 }

   /* image no 2 ka kaam start..... */
.image2 img{ border: solid 4px;
         height: 400px;
         width: 400px;
         border-radius:50%;
         box-shadow: 10px 10px 15px rgb(186, 139, 7);
         position: relative;
         left: 40px;
         top: 1800px;
}

/* 
       about ka paraghraph........... */

        .aboutpara{border: solid 3px black;
                   height: 300px;
                   width: 900px;
                   position: absolute;
                   right: 40px;
                   top: 2050px;
                   background-color: rgb(143, 140, 109);
                   outline: 5px red groove;
                   column-rule:3px;
                   padding: 5px;

        }

/* 
   footer contact ka kaam start........ */

   .footer{width:1550px;
    height: 800px;
           background-color:rgb(186, 164, 119);
           position: relative;
           top: 1900px ;
           left: 0px;
         color: brown;
         font-size: 40px;
         padding: 30px;
        
      
         
   }
  .ctn{
    color: brown;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 2650px;
    left: 40px;
    
  }
  .ctn li{
         padding: 8px;
  }
   
   .footer h1{text-shadow: 10px 10px 15px rgb(186, 150, 8);
    width: 300px;
    font-size: 60px;
    position: relative;
             left: 600px;
          padding: 10px;
   }
   .line3{
    width: 40%;
    height: 6px;
    background-color: brown;
    position: absolute;
    top: 2650px;
    left: 480px;
}
/* CONATCT FILL KA KAAM...... */

    .nm{position: relative;
        left:500px;
        top: 65px;
     margin: 0px;
        padding:0px;

    }

button{position: absolute;
       top: 3200px;
       right: 10px;
       background-color: cyan;
       width: 60px;
       height: 40px;
   color: brown;
}
   button:hover{
      transform:scale(1.2);
      transition: 2s;
   }
   .btn{
    position: absolute;
    top: 2600px;
    right: 10px;
    background-color: rgb(17, 20, 20);
    width: 60px;
    height: 40px;
color: brown;
   }

     /* time ka kaam........... */

     #time{font-size: 40px;
         color: rgb(164, 113, 19);
        color: red;
        position: absolute;
        right: 10px;
        top: 40px;
     }
    

     .icon2{position: absolute;
      top: 2700px;
      right: 140px;
      padding: 10px;
      font-size: 40px;
}
.icon2 a{
      margin: 20px;
      color:white;
}
.icon2 a :hover{
         color: brown;
         font-size: 50px;
         transition: 1s;
}